<body>
	<div id="header">
		<div id="headerLeft">
			<a href="/" id="siteLogo">
				<span>
					OpinionMeter
				</span>
			</a>
		</div>
		<div id="headerRight">
			<a href="/" class="userLink">Active User</a> <span class="navBar">|</span> <a href="/users/login" class="userLink">Log In</a> <span class="navBar">|</span> <a href="/" class="userLink">Sign Up</a>
		</div>
	</div>
