<body>
	<div id="header">
		<div id="headerLeft">
			<a href="/" id="siteLogo">
				<span>
					OpinionMeter
				</span>
			</a>
		</div>
		<div id="headerRight">
			<%if(username) {%>
				<a href="/" class="userLink">You are currently logged in as <%=username%></a>
				<a href="/users/logout" class="userLink">Log Out</a>
			<%} else {%>
				<a href="/users/login" class="userLink">Log In/Sign Up</a>
			<%}%>
	</div>
	</div>

	<%if(message !== undefined && message.length > 0) {%>
		<span class="buttonMed"><%=message%></span>
	<%}%>