<% include ../partials/head %>
<% include ../partials/header %>
	<div id="editMain">
		<div id="editControl">
			<span>
				<%=question.briefDesc%><br><br>
				<%=question.fullDesc%><br>
			</span><br>
			<form action="/questions/<%=question.id%>/comment" method="POST">
				<textarea type="text" name="comment" placeholder="Comment Here"></textarea><br><br>
				<button type="submit">Create Comment</button>
			</form>
		</div>
	</div>