<% include ./partials/head %>
<% include ./partials/header %>
	

	<% for (let i = 0; i < questions.length; i++) { -%>
		<div class="indexQuestion">
			<img class="indexImg" src="<%=questions[i].img%>">
			<a href="/questions/<%=questions[i].id%>"><%=questions[i].briefDesc%></a></li>
		</div>
	<% } -%>
	<br>
	<a href="/questions/new">Add New Question</a>
</body>
</html>