<% include ./partials/head %>
<% include ./partials/header %>
	

	<% for (let i = 0; i < questions.length; i++) { -%>
		<div class="indexEntry">
			<div class="indexImgDiv">
				<img class="indexImg" src="<%=questions[i].img%>">
			</div>
			<div class="indexQuestion">
				<a href="/questions/<%=questions[i].id%>"><%=questions[i].briefDesc%></a></li>
			</div>
			<div class="indexVoteDiv">
				<%if(questions[i].voteBalance) {%>
					Vote Balance: <%=questions[i].voteBalance%>
				<%} else {%>
					No Votes Yet
				<%}%>
			</div>
		</div>
	<% } -%>
	<br>
	<a href="/questions/new">Add New Question</a>
</body>
</html>