body {
	background-color: lightsteelblue;
}

#header {
	display: flex;
	justify-content: space-between;
}

#headerLeft {
	height: 100px;
	width: 40%;
	padding: 10px;
}

#headerRight {
	height: 100px;
	width: 40%;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.navBar {
	font-size: 18px;
}

.userLink {
	padding-left: 3px;
	padding-right: 3px;
}

#siteLogo {
	background-color: mediumseagreen;
	color: white;
	font-size: 36px;
	text-decoration: none;
	padding: 5px;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

.buttonMed {
	background-color: mediumseagreen;
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

.indexEntry {
	display: flex;
	height: 50px;
	border: 1px solid gray;
}

.indexImgDiv {
	width: 150px;
}

.indexImg {
	height: 45px;
	width: auto;
}

.indexQuestion {
	width: 400px;
	border: 1px solid red;
}

#questionTop {
	display: inline-block;
	color: white;
	background-color: lightslategray;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

#briefDesc {

}

.showImg {
	height: 200px;
	width: auto;
}

#labels {
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: darkorange;
	border: 3px solid darkslategray;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.label {
	width: 20%;
	text-align: center;
}

#radio {
	width: 500px;
	display: flex;
	justify-content: space-around;
	background-color: chocolate;
	border: 3px solid darkslategray;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#commentsArticles {
	display: flex;
	justify-content: space-around;
	padding: 8px;
	border: 1px solid red;
}

#articlesDiv {
	width: 48%;
	background-color: lightslategray;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

#commentsDiv {
	width: 48%;
	background-color: lightslategray;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

#articleButton {
	padding: 8px;
}

#commentButton {
	padding: 8px;
}

#articleList {
	width: 50%;
	border: 1px solid orange;
}

#commentList {
	width: 50%;
	border: 1px solid brown;
}