body {
	background-color: lightsteelblue;
}

#header {
	display: flex;
	justify-content: space-between;
}

#headerLeft {
	height: 100px;
	width: 40%;
	padding: 10px;
}

#headerRight {
	height: 100px;
	width: 40%;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.navBar {
	font-size: 18px;
}

.userLink {
	padding-left: 3px;
	padding-right: 3px;
}

#siteLogo {
	background-color: mediumseagreen;
	color: white;
	font-size: 36px;
	text-decoration: none;
	padding: 5px;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

#message {
	background-color: mediumseagreen;
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
	border: 3px solid darkslategray;
	border-radius: 5px;
}

#labels {
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
}

.label {
	width: 20%;
	text-align: center;
}

#radio {
	width: 500px;
	display: flex;
	justify-content: space-around;
	border: 1px solid red;
}