<% include ../partials/head %>
<% include ../partials/header %>

	<h1>Register</h1>
	<form action="/users/register" method="POST">
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		<button type="submit">Register</button>
	</form>

	<h1>Login</h1>
	<form action="/users/login" method="POST">
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		<button type="submit">Login</button>
	</form>
<!-- logout route will be deleted once partial is edited -->
	<form action="/users/logout" method="GET">
		<br><br><br>
		<button type="submit">Logout</button>
	</form>
</body>
</html>